<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=1600">
<title>Admin</title>
<meta name="description" content="Admin">
<meta property="og:type" content="website">
<meta property="og:title" content="Admin">
<meta property="og:description" content="Admin">
<meta property="og:image" content="">
<meta property="og:url" content="">
<link rel="shortcut icon" type="image/x-icon" href="{% static 'images/favicon.ico' %}">
<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap" rel="stylesheet">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/air-datepicker/2.2.3/css/datepicker.min.css">
<link rel="stylesheet" href="{% static 'css/default.css' %}" />
<script type="text/javascript" src="{% static 'js/jquery-3.5.1.min.js' %}"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/air-datepicker/2.2.3/js/datepicker.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/air-datepicker/2.2.3/js/i18n/datepicker.en.min.js"></script>
<script type="text/javascript" src="{% static 'js/main.js' %}"></script>
</head>
<body class="body">
<div id="wrap" class="">
       <!-- skipNav -->
       <div class="skipnavi">
              <a href="#header">header</a>
              <a href="#container">container</a>
              <a href="#footer">footer</a>
       </div>
       <!-- header -->
       <header class="header_admin" id="header">
              <div class="top_header">
                     <!-- 무슨기능을 하는지 모름 -->
                     <a href="javascript: void(0)" class="btn_m">menu button</a>
                     <!-- //무슨기능을 하는지 모름 -->
                     <div class="profile_wrap">
                            <div class="img">
                                   {% if user.image %}
                                          <img src = "{{ user.image.url }}"><br>
                                   {% endif %}
                            </div>
                     </div>
                     <strong>{{ user.user_name }}</strong>
              </div>
              <nav>
                     <ul class="gnb">
                            <li>
                                   <a href="{% url 'teacher:dash' %}">Dashboard</a>
                            </li>
                            <li>
                                   <a href="{% url 'teacher:my_course' %}">Course</a>
                            </li>
                            <li>
                                   <a href="{% url 'teacher:enroll_select' %}">Student</a>
                            </li>
                            <li>
                                   <a href="{% url 'teacher:my_class' %}">Class Room</a>
                            </li>
                            <li>
                                   <a href="{% url 'teacher:my_quiz' %}">Quiz</a>
                            </li>
                            <li class="on">
                                   <a href="{% url 'teacher:setting_profile' %}">Settings</a>
                                   <ul class="depth2">
                                          <li class="on"><a href="{% url 'teacher:setting_profile' %}">Profile</a></li>
                                          <li><a href="{% url 'teacher:setting_photo' %}">Photo</a></li>
                                          <li><a href="{% url 'teacher:setting_account' %}">Account</a></li>
                                   </ul>
                            </li>
                     </ul>
              </nav>
       </header>
       <!-- //header -->
       <!-- main -->
       <main class="container" id="container">
              <section class="page_admin">
                     <div class="top_wrap">
                            <a href="{% url 'account:logout' %}" class="btn_logout">Log out</a>
                     </div>
                     <h2 class="tit">Profile</h2>
                     <div class="con admin_con1">
                            <h3>Basic Information</h3>
                            <form method="POST">
                                   {% csrf_token %}
                                   <fieldset>
                                          <legend>Basic Information form</legend>
                                          <div class="form_con1">
                                                 <div class="box">
                                                        <h5>Name</h5>
                                                        <span>
                                                               <div class="input_box">
                                                                      <input type="text" title="Teacher Name" placeholder="Name" name="name" value="{{ teacher.name }}">
                                                               </div>
                                                        </span>
                                                 </div>
                                                 <div class="box">
                                                        <h5>Select School</h5>
                                                        <span>
                                                               <div class="input_wrap">
                                                                      <div class="select_type1">
                                                                             <select name="select_school">
                                                                                    {% if school_list %}
                                                                                    {% for school in school_list %}
                                                                                           {% if school == teacher.school %}
                                                                                                  <option value="{{ school.id }}" selected>{{ school.name }}</option>
                                                                                           {% else %}
                                                                                                  <option value="{{ school.id }}">{{ school.name }}</option>
                                                                                           {% endif %}
                                                                                    {% endfor %}
                                                                                    {% else %}
                                                                                           <option>None</option>
                                                                                    {% endif %}
                                                                             </select>
                                                                      </div>
                                                               </div>
                                                        </span>
                                                 </div>
                                          </div>

                                   </fieldset>
                                   <div class="btn_wrap">
                                          <input type="submit" class="btn_type1" value="SAVE" style='cursor:pointer;'>
                                   </div>
                            </form>
                     </div>

              </section>
       </main>
       <!-- main -->
</div>
</body>
</html>